*{
    margin: 0;
    padding: 0;
}
body{

font: 100%/1.5em Arial, Helvetica,sans-serif;
    background-color: #ffffff;
}
header{


}
#head{
    background-color: #d2ba83;
}



footer{
background-color: #443e40;
    clear: both;

}
footer h3{

    color: white;
    font-family: sansgit;
}
footer a{
    color: #989192;
}